name: CI

on:
    pull_request: ~
    push:
        branches:
            - master
            - '[0-9]+.[0-9]+'
        tags:
            - '*'

jobs:
    tests:
        name: PHP ${{ matrix.php }}
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                php: [7.3, 7.4, 8.0]
        steps:
            - name: Setup PHP
              uses: shivammathur/setup-php@v1
              with:
                  php-version: ${{ matrix.php }}
                  extensions: dom, fileinfo, filter, gd, hash, intl, json, mbstring, pcre, pdo_mysql, zlib
                  tools: prestissimo
                  coverage: none

            - name: Checkout
              uses: actions/checkout@v2

            - name: Install the dependencies
              run: |
                  composer install --no-interaction --no-progress
                  composer bin phpunit install --no-interaction --no-progress

            - name: Run the unit tests
              run: tools/phpunit/vendor/bin/phpunit --colors=always

    prefer-lowest:
        name: Prefer Lowest
        runs-on: ubuntu-latest
        steps:
            - name: Setup PHP
              uses: shivammathur/setup-php@v1
              with:
                  php-version: 7.3
                  extensions: dom, fileinfo, filter, gd, hash, intl, json, mbstring, pcre, pdo_mysql, zlib
                  tools: prestissimo
                  coverage: none

            - name: Checkout
              uses: actions/checkout@v2

            - name: Install the dependencies
              run: |
                  composer update --prefer-lowest --prefer-stable --no-interaction --no-progress
                  composer bin phpunit install --no-interaction --no-progress

            - name: Run the unit tests
              run: tools/phpunit/vendor/bin/phpunit --colors=always

    windows:
        name: Windows
        runs-on: windows-latest
        steps:
            - name: Setup PHP
              uses: shivammathur/setup-php@v1
              with:
                  php-version: 7.3
                  extensions: dom, fileinfo, filter, gd, hash, intl, json, mbstring, pcre, pdo_mysql, zlib
                  ini-values: memory_limit=1G
                  tools: prestissimo
                  coverage: none

            - name: Adjust the Git autocrlf setting
              run: git config --global core.autocrlf false

            - name: Checkout
              uses: actions/checkout@v2

            - name: Install the dependencies
              run: |
                  composer install --no-interaction --no-progress
                  composer bin phpunit install --no-interaction --no-progress

            - name: Run the unit tests
              run: tools/phpunit/vendor/bin/phpunit.bat --colors=always
